@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,700&display=swap&subset=latin-ext');

* {
    outline: none !important;
    scroll-behavior: smooth;
}


body {
    font-family: 'Poppins', sans-serif;
}

header {
    position: relative;
    z-index: 10;
}

p {
    font-size: 1.2rem;
    ;
}

.navbar {
    background: transparent !important;
    transition: 0.5s;
}

.navbar.scrolled {
    /* background: #84b894 !important; */
    background: #162b1bf8 !important;
    transition: 0.5s;
}


.navbar-light .navbar-nav .active>.nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show>.nav-link {
    color: #000;
    background-color: #efefef;
}

.navbar-light .navbar-nav .active>.nav-link:hover {
    color: #000;
}


.navbar-light .navbar-nav .nav-link {
    color: rgba(255, 255, 255, 0.8);
    /* background-color: transparent; */
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link:focus {
    color: rgba(255, 255, 255, 1);

}

.navbar-light .navbar-brand,
.navbar-light .navbar-brand:hover,
.navbar-light .navbar-brand:focus,
.navbar-light .navbar-brand:visited {
    color: rgba(255, 255, 255, 1);
    font-size: 2.5rem;
    font-weight: 600;
}


.banner {
    position: relative;
    top: 0;
    width: 100%;
    height: 100vh;
    background: url(img/banner.jpg);
    background-size: cover;
    margin-bottom: 0;
}


.banner:before,
.sec2:before,
.contact:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 400px;
    background: linear-gradient(rgb(0, 5, 0), transparent);
    pointer-events: none;
}


.banner:after,
.sec2:after,
.contact:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 400px;
    background: linear-gradient(360deg, rgb(0, 5, 0), transparent);
    pointer-events: none;
}



.height100p {
    height: 100vh;
    font-size: 1.2rem;
}

.h100 {
    height: 100%;
}

.contentBox {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 2;
}

.contentBox h1 {
    font-weight: 800;
    color: #efefef;
    text-shadow: -1px 2px 5px rgba(0, 0, 0, 0.76);
    text-transform: uppercase;
    font-size: 4rem;
}

.contentBox p {
    color: #efefef;
    text-shadow: -1px 2px 5px rgba(0, 0, 0, 0.76);
}

/* sekcje */
#explore .carousel-indicators {
    position: static;
    padding-top: 30px;
}

#explore .carousel-indicators li {
    background-color: #162b1bf8;
    width: 20px;
    height: 5px;
    margin-left: 5px;
}

.carousel-control-prev-icon {
    background-image: url(img/s1.png);
    padding: 15px;
    width: 20px;
    height: 20px;


}

.carousel-control-next-icon {
    background-image: url(img/s2.png);
    padding: 15px;
    width: 20px;
    height: 20px;

}

#explore .carousel-control-next,
#explore .carousel-control-prev {
    width: auto;
}

#explore .carousel-control-next {
    right: -35px;

}

#explore .carousel-control-prev {
    left: -35px;
}



/* *** */
.text-secondary {
    color: #162b1bf8 !important;
}

p.lead {
    color: #efefef;
}

.sec1 {
    padding: 100px;
    background-color: #c99868;
}

.header-text {
    color: #efefef;

}

.header-text h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.placeBox {
    position: relative;
    max-width: 300px;
    height: 400px;
    margin: 0 auto;
    background-color: rgb(0, 5, 0);
    margin-top: 30px;
}

.placeBox.imgBx {
    width: 100%;
    height: 100%;


}

.placeBox .imgBx img {
    object-fit: cover;
    width: 100%;
    height: 100%;

}


.placeBox .content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: baseline;
    align-items: flex-end;
}



.placeBox .content h3 {
    position: relative;
    margin: 0;
    padding: 10px;
    background-color: rgb(0, 5, 0);
    color: #efefef;
    text-shadow: -1px 2px 5px rgba(0, 0, 0, 0.76);
    font-size: 20px;
    font-weight: 600;
    width: 100%;
    text-align: center;

}

.placeBox .content h3 span {
    font-size: 1rem;
    font-weight: 500;
}

/* ***** */
.sec2 {
    position: relative;
    background: url(img/rain-forest-266863_1280.jpg);
    background-size: cover;
    height: 100vh;
}

.sec2 h2 {
    font-weight: 800;
    color: #efefef;
    text-shadow: -1px 2px 14px rgba(0, 0, 0, 0.76);
    text-transform: uppercase;
    font-size: 4.5rem;

}

.btnD1 {
    border: 2px solid #efefef;
    color: #efefef;
    background-color: #162b1bf8;
    border-radius: 50px;
    padding: 15px 50px;
    font-size: 1.2rem;
    outline: none;
    font-weight: 500;
    margin-top: 20px;
}

.blog {
    position: relative;
    padding: 100px 0;
    background-color: rgb(0, 5, 0);
}


.blogpost {
    position: relative;
    width: 100%;
    margin-top: 30px;
    background-color: #c99868;
}

.blogpost .imgBx {
    height: 400px;
}

.blogpost .imgBx img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.blogpost .content {
    padding: 15px;
}

.blogpost .content h1 {
    margin: 0 0 10px;
    padding: 0;
    font-weight: 600;
    font-size: 1.5rem;
}

.btnD2,
.btnD2:hover {
    background-color: #162b1bf8;
    color: #fff;
    border-radius: 30px;
    padding: 10px 20px;
    float: right;
}

.contact {
    position: relative;
    padding: 100px 0;
    background: url(img/test.jpg);
    background-size: cover;
    min-height: 100vh;
}

.contact .form {
    position: relative;
    z-index: 10;
}

.contact .form-control {
    background-color: transparent;
    border: none;
    border-bottom: 2px solid rgba(255, 255, 255, 0.2);
    height: 50px;
    border-radius: 0;
    background-color: rgb(0, 5, 0);
    color: #fff;
    font-size: 1.25rem;
}

.contact .form-control:focus,
.contact .form-control:hover {
    border: none;
    border-bottom: 2px solid rgba(255, 255, 255, 1);
    box-shadow: none;
}

.contact .textarea {
    min-height: 100px;
}

.contact label {
    color: #fff;
    font-size: 1.25rem;

}

footer {
    background-color: rgb(0, 5, 0);
    padding: 40px 0 0;
}

.sci {
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sci li {
    list-style: none;
    margin: 0 20px;
}

.sci li a {
    color: #c99868;
    font-size: 2em;
    transition: 0.5s;

}

.sci li a:hover {
    color: #fff;
}

.cpryt {
    margin-top: 15px;
    font-size: 0.8rem;
    text-align: center;
    color: #c99868;
}

.cpryt a,
.cpryt a:hover {
    color: #fff;
}

@media (min-width: 992px) {
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 1rem;
        padding-left: 1rem;
    }
}

@media (max-width: 992px) {
    .navbar-light .navbar-toggler {
        background-color: #fff;
        border-radius: 0;
    }

    .banner {
        min-height: 100vh;
        padding: 100px 0;
    }

    .contentBox h1,
    .sec2 h2 {
        font-size: 2rem;

    }

    .navbar-expand-1g . navbar-nav .nav-link {
        padding-right: 1rem;
        padding-left: 1rem;
    }

    .sec1 {
        padding: 20px 0;
    }

    .header-text h2 {
        font-size: 2rem;

    }

    .blog {
        padding: 20px 0;
    }

    .blogpost .imgBx {
        height: 200px;
    }

    .contact {

        padding: 20px 0;

    }

    .contact .form-control {
        height: 40px;
        border: 1px solid #fff;
    }

    .btnD1 {
        padding: 10px 40px;
        margin-top: 10px;
    }

    footer {
        background-color: #000;
        padding: 0 0 20px;
    }

    .sci li {
        list-style: none;
        margin: 0 10px;
    }

    .sci li a {
        color: #777;
        transition: 0.5s;
        font-size: 1.5rem;

    }

    .sec2 {
        height: auto;
        padding: 40px 0;
    }

}